<a href="https://colab.research.google.com/github/keerthikapopuri/computational-statistics-lab/blob/main/rank_correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
df=pd.read_csv("data.csv")
df

    x   y
0  68  62
1  64  58
2  75  68
3  50  45
4  64  81
5  80  60
6  75  68
7  40  48
8  55  50
9  64  70

In [5]:
def rank_calc(x,colname):
    cols=[0,0,0,0,0,0,0,0,0,0]
    rank=1
    sort_x=sorted(x,reverse=True)
    for i in range(len(x)):
        if x.count(x[i])==1:
            rank=sort_x.index(x[i])+1
            cols[i]=rank
        else:
            index_count=x.count(x[i])
            temp=sort_x.index(x[i])+1
            rank=temp
            for j in range(index_count-1):
                temp+=1
                rank+=temp
            rank/=index_count
            rank=round(rank,1)
            cols[i]=rank
    df[colname]=cols
def correction_factor(x,sum_df):
    mylist = set(x)
    cf=0
    for i in mylist:
        c=x.count(i)
        if c>1:
            cf+=((c)*(c**2-1)/12)
    sum_df+=cf
    return sum_df
x=df['x']
x=list(x)
n=len(x)
rank_calc(x,'rankx')
y=df['y']
y=list(y)
rank_calc(y,'ranky')
df['di']=df['rankx']-df['ranky']
df['di**2']=df['di']*df['di']
sum_df=sum(df['di**2'])
print(sum_df)
sum_df=correction_factor(x,sum_df);
sum_df=correction_factor(y,sum_df);
print(sum_df)
print(df)
rank_coeff=1-((6*sum_df)/(n*(n**2-1)))
print("rank coefficient is: ",round(rank_coeff,3))

72.0
75.0
    x   y  new  rankx  ranky   di  di**2
0  68  62    2    4.0    5.0 -1.0    1.0
1  64  58    3    6.0    7.0 -1.0    1.0
2  75  68    4    2.5    3.5 -1.0    1.0
3  50  45    5    9.0   10.0 -1.0    1.0
4  64  81    6    6.0    1.0  5.0   25.0
5  80  60    7    1.0    6.0 -5.0   25.0
6  75  68    8    2.5    3.5 -1.0    1.0
7  40  48    9   10.0    9.0  1.0    1.0
8  55  50    0    8.0    8.0  0.0    0.0
9  64  70   12    6.0    2.0  4.0   16.0
rank coefficient is:  0.545